#TempFiles
*~
temp/
tmp/
backend/node_modules/*
frontend/node_modules/*

#DB
backend/prisma/dev.db

#Logs
backend/logs/*

#Other
backend/.env


#Build
backend/dist/*
frontend/dist/*

#Others
backend/.vscode
frontend/.vscode

#Frontend
frontend/public/uploads

#Backend
backend/public/uploads

#Uploads
uploads/*

#Temp
/tmp

#Cache
.cache

#OS
.DS_Store

#Git
.git

#Env
.env

#Docs
.docs

#Prisma
backend/prisma/migrations

#Node
.node_modules

#Prisma
backend/node_modules/.prisma

